extends layout

block content
    p Vous avez une demande de réservation :
    p dates : #{dateDebut} - #{dateFin}
    p #{message}
    p Vous pouvez contacter le demandeur à l'adresse : #{emailDemandeur}
    p Vous pouvez accepter ou refuser en vous connectant à votre compte: 
    a(href=`${url}/mon_compte`) Mon compte
    p Ou directement par ici:
    a(href=`${url}/reponseLogementReservation/${lrId}`) Accepter/Refuser