extends layout

block content
    p Votre demande de réservation pour la Corse a été acceptée !
    p #{ville} - #{adresse}
    a(href=`${url}/logement/${logementId}`) Voir annonce
    p Vous pouvez annuler minimum 48h à l'avance en allant sur votre compte
    a(href=`${url}/mon_compte`) Mon compte